html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto' sans-serif;
}
.btn-sign-in {
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding: 14px 20px;
}
.text-search {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #E0E0E0;
}
.footer-text {
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    float: left;
}
.back-to-top-btn {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 24px;
    background-color: #59BD5A;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    color: white;
    font-size: 22px;
}
.background-set {
    margin-top: 75px;
    padding: 0;
}